input:focus {
    outline: none;
    transition: ease-in 300ms;
    background-color: rgba(209, 209, 209, 0.6);
}

input.valid{
    border: 3px solid green;

}

input.invalid{
    border: 3px solid red;
}