

*,
*::after,
*::before {
    box-sizing: border-box;
}

:root{
    --main-font-size: 1.5rem;
    --main-font-family:  'Open Sans', sans-serif;
    --by-color: rgb(233, 151, 233);

    --content-shadow: aliceblue;
    --image-shadow: orange;

    --background-purple : #4e03fc;
    --background-orange : #e66465;
}

body,
h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

body{
    font-family:var(--main-font-family);
    font-size: var(--main-font-size);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

    background: linear-gradient(144deg , var(--background-purple) 30%, var(--background-orange) );
}

main{
    display: grid;
    grid-auto-flow: column;
    gap: 0.5rem;

    max-width:900px;
    margin-bottom: 5vh;
}

section {
    border-radius: 0.5rem;
}
input {
    transition: ease-in 300ms;
    background-clip:padding-box ;
    border: 3px solid transparent;
    border-radius: 8px;
}

#submit-btn{
    border: 3px transparent solid ;
    cursor:not-allowed 
}

section:last-child {
    box-shadow: 1rem 1rem 2rem var(--content-shadow), -0.3rem -0.3rem 2rem var(--content-shadow);
}

section:first-child {
    box-shadow: -0.5rem -0.5rem 1rem var(--image-shadow);
}

#content-container{
    padding: 1rem;
}

.input-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    gap:1.6vh;
    
    font-size: calc(var(--main-font-size)/1.5);
    
}

.input-section > div{
    display: flex;
    flex-direction: column;
}

.input-section + button{
    margin-top: 10px;
}

.intro-small{
    font-size: calc(var(--main-font-size) / 1.25);
    margin: 7px 0;
}

.login-text{
    padding-top: 7px;
    font-size: calc(var(--main-font-size) / 1.3);
}

#img-container{
    background-image: url(https://images.unsplash.com/photo-1557853197-aefb550b6fdc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80);
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

} 

#img-container > div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    position: relative;
    top: calc(50% - 25px );

    background-color: rgba(162, 170, 170, .7);
    width: 100%;
    padding: 5px;
}
img{
    max-width: 50px;
}

#img-container > p {
    position: absolute;
    bottom: 3px;

    font-size: calc(var(--main-font-size) / 3);

    color: var(--by-color);
    
}
#img-container > p > a {
    color: var(--by-color);
}

footer {
    position: absolute;
    bottom: 2px;
}


@media (max-width: 500px) {
    :root {
        --main-font-size :0.9rem ;
    }
    
    main{
        grid-auto-flow: row;
        margin: clamp(2rem, 10vh,6rem ) 0;
        gap: 2.6vh;
    }
    #img-container{
        height: 25vh;
    }

    .input-section{
        display: flex;
        flex-direction: column;

        gap: 7px;

        font-size: calc(var(--main-font-size) / 1.25);
    }

    .login-text{
        font-size: calc(var(--main-font-size) / 1.1);
    }

    #img-container > p {
        font-size: calc(var(--main-font-size) / 1.3);
    }
    #img-container > div{
        gap: 1.5rem;
    }

    section:last-child {
        box-shadow:   0 0.7rem 2rem var(--content-shadow), -0.3rem -0.3rem 2rem var(--content-shadow);
    }
    
    section:first-child {
        box-shadow:0 -0.3rem 1rem ;
    }

}