

*,
*::after,
*::before {
    box-sizing: border-box;
}

:root{
    --main-font-size: 1.5rem;
    --main-font-family:  'Open Sans', sans-serif;
}

body,
h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

body{
    font-family:var(--main-font-family);
    font-size: var(--main-font-size);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

main{
    display: grid;
    grid-auto-flow: column;
    gap: 0.5rem;

    max-width:900px;
    margin-bottom: 5vh;
}

section{
    border: 2px solid red ;
    
}

#content-container{
    padding:1%;
}

.input-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    gap:1.6vh;
    
    font-size: calc(var(--main-font-size)/1.5);
    
}

.input-section > div{
    display: flex;
    flex-direction: column;
}

.input-section + button{
    margin-top: 10px;
}

.intro-small{
    font-size: calc(var(--main-font-size) / 1.25);
    margin: 7px 0;
}

.login-text{
    padding-top: 7px;
}

#img-container{
    background-image: url(https://images.unsplash.com/photo-1557853197-aefb550b6fdc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80);
    background-repeat: no-repeat;
    background-size: 100%;
} 

footer {
    
   position: absolute;
   bottom: 0;
   padding: 5px;
}

@media (max-width: 500px) {
    :root {
        --main-font-size :0.75rem ;
    }
    
    main{
        grid-auto-flow: row;
        margin: clamp(2rem, 10vh,6rem ) 0;
        gap: 2.6vh;
    }
    #img-container{
        height: 25vh;
    }

    .input-section{
        display: flex;
        flex-direction: column;

        gap: 7px;

        font-size: calc(var(--main-font-size) / 1.25);
    }

}