

*,
*::after,
*::before {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;

    align-items: center;
    justify-content: center;
}

main{
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;

    max-width:900px;
    margin-bottom: 5vh;
}

section{
    border: 2px solid red ;
    
}

#img-container{
    background-image: url(https://images.unsplash.com/photo-1625806786037-2af608423424?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
    background-repeat: no-repeat;
    background-size: 100%;
} 

footer {
    
   position: absolute;
   bottom: 0;
   padding: 5px;
}

@media (max-width: 500px) {
    main{
        grid-auto-flow: row;
        margin: clamp(2rem, 10vh,6rem ) 0;
    }
    #img-container{
        height: 25vh;
    }
}